.widget {
    background: $light-blue;
    margin-bottom: $xl-size;
}

.widget-header {
    background: $blue;
    color: $off-white;
    padding: $l-size;
    display: flex;
    justify-content: space-between;
}

.widget-header__title {
    margin: 0;
}

.widget__message {
    color: $off-white;
    margin: 0;
    padding: $m-size;
    font-size: large;
    font-style: italic;
}

.widget--optionText {
    word-break: break-all;
    color: white;
}

